
<div class="mt-2 mb-15">
   <footer class="col-md-9 mx-auto m-auto">
      <div class="row">
          <div class="col">
             <h4>Contact us</h4>
             <h7>Email: email@gmail.com</h7>
             <h7>Phone:+227819213</h7>
             <h7>facebook.com</h7>
             <h7>linkedin.com</h7>
             <h7>twitter.com</h7>
          </div>
          <div class="col">
             <h4>Visit us </h4>
             <h7>Email: email@gmail.com</h7>
             <h7>Phone:+227819213</h7>
             <h7>facebook.com</h7>
             <h7>linkedin.com</h7>
             <h7>twitter.com</h7>
          </div>
          <div class="col">
             <h4>Partner with us</h4>
             <h7>Email: email@gmail.com</h7>
             <h7>Phone:+227819213</h7>
             <h7>facebook.com</h7>
             <h7>linkedin.com</h7>
             <h7>twitter.com</h7>
          </div>
      </div>
  </footer>
</div>
