{%load static%}
<nav class="navbar navbar-light bg-light">
    <div class="col-md-9 m-auto mx-auto row ml-20">
            <div class="row navbar nav">
                <!-- This is where the logo will be placed -->
                <!-- <img src="{%static 'images/logo2.png'%}" alt=""> -->
                <a class="navbar-brand" href="/">CodeMadeSimple</a>
            </div>
            
        <div class="row ml-auto navbar nav">
            <ul class="row">
                {%if user.is_authenticated%}
                    <li class="ml-2 mr-2 list-control">{{user.username}}</li>
                {%endif%}
                <li class="ml-2 mr-2 list-control"><a href={%url 'about'%}>About</a></li>
                <li class="ml-2 mr-2 list-control">Blogs</li>
                {%if user.is_authenticated%}
                     <li class="ml-2 mr-2 list-control"><a href={%url 'logout'%}>logout</a> </li>
                     <li class="ml-2 mr-2 list-control"><a href={%url 'membership'%}>Subscriptions</a></li>
                {%else%}
                     <li class="ml-2 mr-2 list-control"><a href={%url 'login'%}>login</a> </li>
                     <li class="ml-2 mr-2 list-control"><a href={%url 'register'%}>register</a> </li>
                {%endif%}
            </ul>
        </div>  
    </div> 
</nav>
  