{%extends 'layout/layout.html'%}
{%block content%}
    <h1>{{course.title}}</h1>
    {%if course.lessons%}
    <div class="row">
    {%for lesson in course.lessons%}
        <div class="col-lg-3 card ml-3 mr-3">
            <a href={{lesson.get_absolute_url}}><img class="mt-2 mb-3 imag-style" src={{lesson.thumbnail.url}}/></a>
            <h4>{{lesson.title}}</h4>
            <!-- <p>{{lesson.description}}</p> -->
        </div>  
    {%endfor%}
   </div>
    {%else%}
      <h6>No lessons at the moment in this course</h6>
    {%endif%}
{%endblock content%}