{%extends 'layout/layout.html'%}
{%block content%}
    <div class="row">
        {%for course in courses%}
        <div class="card mt-3 col-lg-3 ml-3 mr-3">
            <a href={% url 'course-details' course.slug %}>
            <img class="mt-2 mb-3 imag-style" src={{course.thumbnail.url}}/></a>
            <h4>{{course.title}}</h4>
            <p>{{course.description}}</p>
            <a href={% url 'course-details' course.slug%}>
                <button class="btn btn-warning ml-auto">View</button>
            </a>
            <p>{{course.membership_type}}</p>
            <small>{{course.allowed_membership.price}}</small>
        </div>
        {%endfor%}
    </div> 
{%endblock content%}