
.list-control{
    list-style: none;
}
.imag-style{
    height:auto;
    width:220px;
    object-fit:cover;
    position:center;
    justify-content:center;
    align-items:center;

}
.video-col{
    background-color: black;
    border: none;
}

pre, code{
    background-color: cornflowerblue;
    font-family: monospace,monospace;
}
pre{
    overflow: auto;
}
pre>code{
    display: block;
    padding: 1rem;
    word-wrap: normal;
}
.code-color{
    background-color: cornflowerblue;
    object-fit: cover;
}
.profile-image{
    border: 1px solid yellow;
    height: 200px;
    width:200px;
    border-radius: 50%;
}